@import "../../../global.scss";

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 350px;
    padding: 10px;
    margin: 10px;
    border: 2px solid $base-color-2;
    box-shadow: 12px 12px 5px 1px #557a9534;
    border-radius: 10px;
}

.img-wrapper  {
    width: 100%;
    min-height: 150px;
    max-height: 150px;
}

.top-block {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-bottom: 20px;
}
